.about {
  margin-top: 160px;
  .about-us {
    top: 0;
    right: 0;
  }
  .first-about-icon {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 70px;
    .first-about-icon {
      padding-top: 90px;
    }
  }
}
