.detailApp{
    font-size: .8rem;
    color: #8a8a8a;
    align-self: flex-end;
}

.radio{
    .form-check-label{
        padding-right:17px ;
    }
}

.application{
    margin-top: 160px;
}

@media (max-width: 575px) {
    .application{
        margin-top: 70px;
    }
}