@font-face {
  font-family: "iranyekanwebmedium";
  src: local("iranyekanwebmedium"),
    url("../assets/fonts/iranyekanwebmedium/iranyekanwebmedium.woff2")
      format("woff2");
}
@font-face {
  font-family: "iranyekanwebbold";
  src: local("iranyekanwebbold"),
    url("../assets/fonts/iranyekanwebbold/iranyekanwebbold.woff2")
      format("woff2");
}
@font-face {
  font-family: "iranyekanweblight";
  src: local("iranyekanweblight"),
    url("../assets/fonts/iranyekanweblight/iranyekanweblight.woff2")
      format("woff2");
}
@font-face {
  font-family: "iranyekanwebthin";
  src: local("iranyekanwebthin"),
    url("../assets/fonts/iranyekanwebthin/iranyekanwebthin.woff2")
      format("woff2");
}
@font-face {
  font-family: "iranyekanwebextrablack";
  src: local("iranyekanwebextrablack"),
    url("../assets/fonts/iranyekanwebextrablack/iranyekanwebextrablack.woff2")
      format("woff2");
}
