.footer {
  background-color: #f0f0f0;
  .dices {
    padding: 30px 0;
    .col {
      color: #4caf50;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .footer-copyright {
    font-size: 12px;
    line-height: 24px;
  }
  .footer-social {
    a {
      padding-left: 12px;
      color: #37474f;

      svg {
        cursor: pointer;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .footer-social {
      max-width: 100%;
      padding-left: 20px;
      justify-content: center;
      text-align: center;
    }
    .footer-top-content {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}

@media (max-width: 475px){
  .footer{
    .dices{
      .dice-sixth{
        display: none;
      }
    }
  }
}

@media (max-width: 395px){
  .footer{
    .dices{
      .dice-fifth{
        display: none;
      }
    }
  }
}
