.footer {
  background-color: #f0f0f0;
  .dices {
    padding: 30px 0;
    .col {
      color: #4caf50;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .footer-copyright{
      font-size: 12px;
  }
}
