.sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  color: #00008b;
  margin: 0 15px;
  font-size: 24px;
}

.sliderImage {
  width: 75%;
}
