
@media (max-width: "499px") {
    .navLeft {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }
}