.navigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: right;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .navigationItems {
    flex-flow: row-reverse;
    padding-top: 0;
  }
}
