
@media (max-width: "768px") {
    .navLeft {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }
    .cartButton{
        width: 100%;
      }
}