.navigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;

  a {
    color: #000;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;

    &:hover,
    &:active,
    &.active {
      color: #40a4c8;
    }
  }
}

@media (min-width: 576px) {
  .navigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: 80px;
    text-align: center;
    align-items: center;

    a {
      color: #000;
      height: 100%;
      padding: 16px 10px;

      &:hover,
      &:active,
      &.active {
        color: green;
      }
    }
  }
}
