.navigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;

  a {
    color: #000;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;

    &:hover,
    &:active,
    &.active {
      color: #4caf50;
    }
  }
}

@media (min-width: 768px) {
  .navigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: 80px;
    text-align: center;
    align-items: center;
    line-height: 32px;

    a {
      color: #000;
      height: 100%;
      padding: 16px 10px;

      &:hover,
      &:active,
      &.active {
        color: #4caf50;
      }
    }
  }
}
