.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }

  .search {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .site-icon {
    color: #4caf50;
    line-height: 62px;
    padding-left: 0;
    cursor: pointer;
  }

  .search-text {
    outline: none;
    border-radius: 19px;
    background-color: #f0f0f0;
    text-align: right;
    padding: 9px 35px 9px 20px;
    border: none;
    width: 60%;
    z-index: 1;

    &:focus {
      background-color: #fafafa;
      color: #495057;
    }
  }

  .icon-search {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 2;
  }

  .filterProductNames {
    position: absolute;
    top: 42px;
    left: 40%;
    right: 0;
    background-color: #fafafa;
    border-radius: 0 0 19px 19px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
    display: none;
    user-select: none;
    border: 1px solid #e0e0e0;
    border-top: 0;
    text-align: right;
    // &:hover {
    //   display: block ;
    // }
  }

  .filterProductName {
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
      background-color: #4caf50;
      color: #fff;
    }
    &:last-child {
      border-radius: 0 0 19px 19px;
    }
  }

  .search-suggestion-mode {
    border-radius: 19px 19px 0 0;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
  }
}

.sticky {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 7px #999;
  padding: 0 60px;
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  .toolbar {
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 7px #999;
    justify-content: flex-end;
    padding: 5px;
    .icon-search {
      top: 18px;
    }
    .site-icon {
      line-height: initial;
    }
    .filterProductNames {
      left: 0;
    }
  }
}

@media (max-width: 992px) {
  .toolbar {
    .search-text {
      width: 90%;
    }
  }
}
