.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }
}

.sticky {
  border-bottom: 1px solid #aaa;
  padding: 0 60px;
}

@media (max-width: 575px) {
  .desktopOnly {
    display: none;
  }
  .toolbar{
    border-bottom: 1px solid #aaa;
    justify-content: flex-end;
    padding: 5px;
  }
}
