.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }

  .site-icon {
    color: #2e8b57;
    line-height: 62px;
    padding-left: 0;
  }

  .search-text {
    outline: none;
    border-radius: 999px;
    background-color: #f0f0f0;
    text-align: right;
    padding: 9px 35px 9px 20px;
    border: none;
    width: 60%;

    &:focus {
      background-color: #fafafa;
      color:#495057;
    }
  }

  .icon-search {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}

.sticky {
  border-bottom: 1px solid #aaa;
  padding: 0 60px;
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  .toolbar {
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 7px #999;
    justify-content: flex-end;
    padding: 5px;
    .icon-search{
      top: 18px;
    }
  }
}

@media (max-width: 992px){
  .toolbar{
    .search-text{
      width: 90%;
    }
  }
}
