@import "fonts";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./slider";
@import "./item";
@import "./toolbar";
@import "./navigationItems";
@import "./navigationItem";
@import "./sideDrawer";
@import "./navLeft";
@import "./bachdrop";
@import "./application";
@import "./register";
@import "./cart";
@import "./home";
@import "./about";
@import "./diceIcons";

body {
  font-family: iranyekanwebmedium;
}
* {
  padding: 0px;
  margin: 0px;
}
