@import "fonts";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./slider";
@import "./item";
@import "./toolbar";
@import "./navigationItems";
@import "./navigationItem";
@import "./slideDrawer";


body {
  font-family: iranyekanwebmedium;
}
* {
  padding: 0px;
  margin: 0px;
}
